option_settings:
    aws:elasticbeanstalk:application:environment:
        FLASK_ENV: production
        SECRET_KEY: aB3cD4eFgH5iJ6kLmN7oP8qR
        BASE_API_PROD_URL: https://www.dvlinks.website
        FRONTEND_PROD_URL: https://app.dvlinks.website
        MAIL_SERVER: smtp.gmail.com
        MAIL_USERNAME: djamil5099@gmail.com
        MAIL_PASSWORD: nlhu fivo ital htvt
        DATABASE_URL_PROD: postgresql://postgres:Djamil1998@database-database-devlinksapp.ct8cqyaimdw5.eu-north-1.rds.amazonaws.com:5432/devlinks
    aws:elasticbeanstalk:container:python:
        WSGIPath: backend.app:app
