@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'InstrumentSans-Bold';
    src: url('../public/fonts/static/InstrumentSans-Bold.ttf')format('woff2');
    font-weight: bold;
    font-size: 16px;
    font-style: normal;
}

@font-face {
    font-family: 'InstrumentSans-Regular';
    src: url('../public/fonts/static/InstrumentSans-Regular.ttf')format('woff2');
    font-weight: normal;
    font-size: 12px;
    font-style: normal;
}

@font-face {
    font-family: 'InstrumentSans-Semibold';
    src: url('../public/fonts/static/InstrumentSans-Semibold.ttf')format('woff2');
    font-size: 16px;
    font-style: normal;
}

body {
    @apply bg-light-grey
}



.active h3 {
    @apply text-primaryPurple font-bold;
}

.active svg path {
    @apply fill-primaryPurple;
}

@layer components {
    .card-container {
    position: relative;
    overflow: hidden; /* Ensures content doesn't overflow outside the card */
    }

    /* Hover content that appears at the bottom */
    .card-hover-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.5rem;
        background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
        opacity: 0; /* Hidden by default */
        transform: translateY(100%); /* Initially out of view */
        transition: all 0.3s ease; /* Smooth transition for showing */
    }

    /* Show content on hover */
    .card-container:hover .card-hover-content {
        opacity: 1;
        transform: translateY(0); /* Slide into view */
    }

    /* Handle long group names and categories */
    .group-name, .category-name {
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Add "..." when text is too long */
        display: block;
    }
    .edit-icon {
        position: absolute;
        top: -20px;
        right: 10px;
        cursor: pointer;
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
        border-radius: 50%;
        transition: top 0.3s ease, opacity 0.3s ease; /* Transition for smooth movement */
        opacity: 0; /* Initially hidden */
    }

    .delete-icon {
        position: absolute;
        top: -20px;
        left: 10px;
        cursor: pointer;
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        transition: top 0.3s ease, opacity 0.3s ease;
        opacity: 0;
    }

    .card-container:hover .edit-icon , .card-container:hover .delete-icon {
        opacity: 1;
        top: 10px;
    }
}